body{
    font-family: "Century Gothic";
    font-size: 14px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(51, 117, 94);
    text-align: center;
}
h6{
    font-size: 15px;
    color: rgb(53, 34, 139);
    text-align: center;
}

h4{
    font-size: 20px;
    color: rgb(99, 78, 196);
    text-align: center;
}
td.etiqueta {
    padding-right: 100px; /* Ajusta este valor según tus preferencias */
}
form {
    border: 1px solid #ddd; /* Borde gris de 1 píxel */
    padding: 20px; /* Espaciado interno */
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario en la página */
}
.btn-verde {
    background-color:cadetblue;
    
}

.btn-azul {
    background-color: blue;
    color: white;
}


/*
Arial: font-family: Arial, sans-serif;
Helvetica: font-family: Helvetica, sans-serif;
Times New Roman: font-family: "Times New Roman", serif;
Georgia: font-family: Georgia, serif;
Courier New: font-family: "Courier New", monospace;
Verdana: font-family: Verdana, sans-serif;
Palatino: font-family: Palatino, serif;
Impact: font-family: Impact, sans-serif;
Arial Black: font-family: "Arial Black", sans-serif;
Cursive: font-family: Cursive, sans-serif;
Fantasy: font-family: Fantasy, sans-serif;
Garamond: font-family: Garamond, serif;
Lucida Console: font-family: "Lucida Console", monospace;
Tahoma: font-family: Tahoma, sans-serif;
Book Antiqua: font-family: "Book Antiqua", serif;
Century Gothic: font-family: "Century Gothic", sans-serif;
*/